@font-face {
    font-family: 'MiFuente';
    src: url('../Fonts/mvboli.ttf') format('truetype');
}

#menu {
    background-color: #22B573;
    padding: 80px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}
#inicio {
    background-color:  white;
 padding: 10px 30px;
    
    position: absolute;
    top: 60px;
    left: 920px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold;
    font-size: 20px;
    color: black;
}
#servicios {
    background-color:  white;
    padding: 10px 30px;
    position: absolute;
    top: 60px;
    left: 1050px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold;
    font-size: 20px;
    color: black;
}
#personal {
    background-color:  #60e4f1;
    padding: 10px 30px;
    position: absolute;
    top: 60px;
    left: 1230px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold;
    font-size: 20px;
    color: black;
    animation: personal linear 2s;
}
@keyframes personal {
0% { background-color:white;}
    100% {background-color:#60e4F1;}
}
#contacto {
    background-color:  white;
    padding: 10px 30px;
    position: absolute;
    top: 60px;
    left: 1410px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold; 
    font-size: 20px;
    color: black; 
}
#testimonios {
    background-color:  white;
    padding: 10px 30px;
    position: absolute;
    top: 60px;
    left: 1590px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold;
    font-size: 20px;
    color: black;
}
#logo {
    position: absolute;
    top: 20px;
    left: 30px;
}
#IMGP1 {
    padding: 20px;
    background-color: #CD6B3C;
    border-radius: 50px;
    margin-right: 1410px;
    margin-top: 50px;;
    margin-left: 250px;
}
#P1 {
    font-family: 'MiFuente';
    background-color: #FEECD6;
    font-size: 30px; 
    position: absolute;
    left: 465px;
    top: 250px;
    padding: 20px;
    padding-left: 50px;
    z-index: -10;
}
#IMGP2 {
    padding: 20px;
    background-color: #CD6B3C;
    border-radius: 50px;
    margin-right: 300px;
    margin-top: 50px;;
    margin-left: 1360px;
}
#P2 {
    font-family: 'MiFuente';
    background-color: #FEECD6;
    font-size: 30px; 
    position: absolute;
    right: 520px;
    top: 620px;
    padding: 20px;
    padding-right: 50px;
    z-index: -10;
}
#IMGP3 {
    padding: 20px;
    background-color: #CD6B3C;
    border-radius: 50px;
    margin-right: 1410px;
    margin-top: 50px;;
    margin-left: 250px;
}
#P3 {
    font-family: 'MiFuente';
    background-color: #FEECD6;
    font-size: 30px; 
    position: absolute;
    left: 465px;
    top: 1020px;
    padding: 20px;
    padding-left: 50px;
    z-index: -10;
}
#IMGP4 {
    padding: 20px;
    background-color: #CD6B3C;
    border-radius: 50px;
    margin-right: 300px;
    margin-top: 50px;;
    margin-left: 1360px;
}
#P4 {
    font-family: 'MiFuente';
    background-color: #FEECD6;
    font-size: 30px; 
    position: absolute;
    right: 520px;
    top: 1410px;
    padding: 20px;
    padding-right: 50px;
    z-index: -10;
}
#IMGP5 {
    padding: 20px;
    background-color: #CD6B3C;
    border-radius: 50px;
    margin-right: 1380px;
    margin-top: 50px;;
    margin-left: 250px;
}
#P5 {
    font-family: 'MiFuente';
    background-color: #FEECD6;
    font-size: 30px; 
    position: absolute;
    left: 500px;
    top: 1800px;
    padding: 20px;
    padding-left: 50px;
    z-index: -10;
}
footer {
    margin-top: 50px;
    background-color: #22B573;
    padding: 50px;
    text-align: center;
    font-family:'MiFuente';
    font-weight: bold;
}
