@font-face {
    font-family: 'MiFuente';
    src: url('../Fonts/mvboli.ttf') format('truetype');
}

#menu {
    background-color: #22B573;
    padding: 80px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}
#inicio {
    background-color:  white;
 padding: 10px 30px;
    
    position: absolute;
    top: 60px;
    left: 430px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold;
    font-size: 20px;
    color: black;
}
#servicios {
    background-color:  white;
    padding: 10px 30px;
    position: absolute;
    top: 60px;
    left: 560px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold;
    font-size: 20px;
    color: black;
    animation: servicios linear 10s;
}
@keyframes servicios {
    0% {transform: translateY(0);}
    25% {transform: translateY(20px);}
    50% {transform: translateY(-20px);}
    100%{transform: translateY(0);}
}
#personal {
    background-color:  white;
    padding: 10px 30px;
    position: absolute;
    top: 60px;
    left: 730px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold;
    font-size: 20px;
    color: black;
}
#contacto {
    background-color:  white;
    padding: 10px 30px;
    position: absolute;
    top: 60px;
    left: 910px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold; 
    font-size: 20px;
    color: black; 
}
#testimonios {
    background-color:  white;
    padding: 10px 30px;
    position: absolute;
    top: 60px;
    left: 1090px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold;
    font-size: 20px;
    color: black;
}
#logo {
    position: absolute;
    top: 20px;
    left: 30px;
}
#Servicio1 {
    font-family: 'MiFuente';
    background-color: #60E4F1;
    font-size: 30px;
    padding: 30px 50px;
    border-radius: 50px;
    box-shadow: #33797C 30px 30px 0px;
    position: absolute;
    top: 210px;
    left: 400px;
    }
#IMGS1 {
    margin-left: 80px;
}
#Servicio2{
    font-family: 'MiFuente';
    background-color: #60E4F1;
    font-size: 30px;
    padding: 30px 50px;
    border-radius: 50px;
    box-shadow: #33797C -30px 30px 0px ;
    position: absolute;
    top: 510px;
    left: 50px;
}
#IMGS2 {
    margin-left: 900px;
    ;
}
#Servicio3{
    font-family: 'MiFuente';
    background-color: #60E4F1;
    font-size: 30px;
    padding: 30px 50px;
    border-radius: 50px;
    box-shadow: #33797C 30px 30px 0px ;
    position: absolute;
    top: 860px;
    left: 450px;
}
#IMGS3 {
    margin-left: 50px;
    margin-top: 10px;
}
#Servicio4{
    font-family: 'MiFuente';
    background-color: #60E4F1;
    font-size: 30px;
    padding: 30px 50px;
    border-radius: 50px;
    box-shadow: #33797C -30px 30px 0px ;
    position: absolute;
    top: 1170px;
    left: 50px;
}
#IMGS4 {
    margin-left: 900px;
}
#Servicio5{
    font-family: 'MiFuente';
    background-color: #60E4F1;
    font-size: 30px;
    padding: 30px 50px;
    border-radius: 50px;
    box-shadow: #33797C 30px 30px 0px ;
    position: absolute;
    top: 1490px;
    left: 450px;
}
#IMGS5{
    margin-left: 50px;
    margin-top: 50px;
}
footer {
    margin-top: 50px;
    background-color: #22B573;
    padding: 50px;
    text-align: center;
    font-family:'MiFuente';
    font-weight: bold;
}