@font-face {
    font-family: 'MiFuente';
    src: url('../Fonts/mvboli.ttf') format('truetype');
}

#menu {
    background-color: #22B573;
    padding: 80px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}
#inicio {
    background-color:  white;
 padding: 10px 30px;
    
    position: absolute;
    top: 60px;
    left: 920px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold;
    font-size: 20px;
    color: black;
}
#servicios {
    background-color:  white;
    padding: 10px 30px;
    position: absolute;
    top: 60px;
    left: 1050px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold;
    font-size: 20px;
    color: black;
}
#personal {
    background-color:  white;
    padding: 10px 30px;
    position: absolute;
    top: 60px;
    left: 1230px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold;
    font-size: 20px;
    color: black;
}
#contacto {
    background-color:  white;
    padding: 10px 30px;
    position: absolute;
    top: 60px;
    left: 1410px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold; 
    font-size: 20px;
    color: black; 
}
#testimonios {
    background-color:  #60e4f1;
    padding: 10px 30px;
    position: absolute;
    top: 60px;
    left: 1590px;
    border-radius: 30px;
    font-family: 'MiFuente';
    font-weight: bold;
    font-size: 20px;
    color: black;
    animation: testimonios linear 2s;
}
@keyframes testimonios {
    0%{background-color: white;}
    100% {background-color: #60e4f1;}
}
#logo {
    position: absolute;
    top: 20px;
    left: 30px;
}
#IMGT1 {
    margin-left: 200px;
    margin-top: 50px;
    padding: -50;
    padding-right: 30px ;
    background-color: #CD6B3C;
    margin-right: 230px;
    border-radius: 50px;
}
#T1 {
    font-family: 'MiFuente';
    font-size: 28px;
    padding: 20px; 
    padding-left: 100px;
    position: absolute;
    top: 260px;
    left: 450px;
}
#IMGT2 {
    margin-left: 200px;
    margin-top: 50px;
    padding: -50;
    padding-right: 30px ;
    background-color: #CD6B3C;
    margin-right:230px;
    border-radius: 50px;
}
#T2 {
    font-family: 'MiFuente';
    font-size: 28px;
    padding: 20px; 
    padding-left: 100px;
    position: absolute;
    top: 670px;
    left: 450px;
}#IMGT3 {
    margin-left: 200px;
    margin-top: 50px;
    padding: -50;
    padding-right: 30px ;
    background-color: #CD6B3C;
    margin-right: 230px;
    border-radius: 50px;
}
#T3 {
    font-family: 'MiFuente';
    font-size: 28px;
    padding: 20px; 
    padding-left: 100px;
    position: absolute;
    top: 1070px;
    left: 450px;
}
footer {
    margin-top: 50px;
    background-color: #22B573;
    padding: 50px;
    text-align: center;
    font-family:'MiFuente';
    font-weight: bold;
}